body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


#container{
    background-image: url("bg-intro-desktop.png");
    width: 100vh;
    background-color: #ff7a7a;

}

p{
    color:white
}

h1{
    color: white;
}





#main {
    display: flex;
    margin: 6.25rem;
    gap: 3.125rem;
}

#right>#try>p {
    background-color: hsl(248, 32%, 49%);
    border-radius: .4375rem;
    padding:10px;
}

#right>#try>p>span{
    font-weight: 600;
}


